//- Listing des bookmarks
//- =====================

extend ../_layout
block content
  h1= pageTitle
  h2 #{entries.length} / #{totalEntries}

  if entries && entries.length
    form.form-inline.row(role="form")
      .form-group.col-sm-3
        label.sr-only(for="tagList") Tags
        +tagField('tagList')
      .checkbox
        label
          input(type="checkbox" name="tagMode" value="any" checked=('any' === query.tagMode))
          |  pas forcément tous 
      .checkbox
        label
        input(type="checkbox" name="authorSort" value="false")
        |  Trier par nom d'auteur
        input(type="hidden" id="skip" name="skip")    
      button#submitButton.btn.btn-primary(type="submit")
        i.glyphicon.glyphicon-filter
        |  Filtrer


    hr
    p
      a.btn.btn-primary(href="/entries/new")
        i.glyphicon.glyphicon-plus
        |  Ajoutez-en un !

    table#entries.table.table-striped.table-hover
      tbody
        each entry in entries
          //- La vue Jade inclue ici est un « partial »partagé avec le côté client
          include ../../common/views/entry

  else
    .alert.alert-info
      p Désolés, aucune phrase pour le moment…
      p
        a.btn.btn-primary(href="/entries/new")
          i.glyphicon.glyphicon-plus
          |  Faites la première !

  include ../pagination
