//- Saisie d'un nouveau bookmark
//- ============================

extend ../_layout
block content
  h1= pageTitle

  form(method="post" action="/entries")
    input(type="hidden" name="_csrf" value=csrfToken)
    .form-group
        label(for="edtURL") Phrase
        input#edtURL.form-control(name="expression" autofocus required)
    .form-group
      label(for="edtURL") Auteur de la phrase &nbsp;
      input#edtURL(name="firstname" placeholder="Prénom" autofocus required)
      input#edtURL(name="name" placeholder="Nom" autofocus required)
    .form-group
      label(for="edtTags") Tags
      +tagField('edtTags')
    p
      button.btn.btn-primary(type="submit")
        i.glyphicon.glyphicon-plus
        |  Ajouter
